.category-title {
    text-align: center;
}
.good-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    align-items: center;
    padding: 2rem 6%;
}

.sorting {
    padding: 2rem 6%;

}

.good {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #e8e7e3;
}

.good-img,
.good-tablet {
    width: 250px;
    height: 250px;
    max-width: 100%;
    height: auto;
    padding-bottom: 2rem;
}

.good-title {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.good-title:hover {
    color: #01944b;
}

.sorting {
    text-align: start;
}

.sorting-select {
    outline: none;
    font-size: 1rem;
}

.sorting-select:hover {
    border: 1px solid lightblue;
}
